:root {
    --primary-color: #00b894;
    --primary-dark: #019477;
    --secondary-color: #2d3436;
    --bg-color: #f0f2f5;
    --card-bg: #ffffff;
    --text-color: #333;
    --danger-color: #d63031;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    padding-top: var(--nav-height);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--card-bg);
  box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,0.1);
  padding: 0 5%;
  height: 8vh;
}

.nav-links{
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 500;
  transition: 0.3s;
  padding-bottom: 0.3rem;
}

.nav-link:hover, .nav-link.active {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;

}

.header-container {
  text-align: center;
  padding: 2rem 0;
}

.header-container h1 {
  font-size: 2.5rem;
  color: var(--secondary-color);
}

.header-container h1 span {
  color: var(--primary-color);
}

.header-container p {
  color: var(--text-color);
}

main {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.8rem;
}

.feature-card {
  background-color: var(--card-bg);
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 15px 10px rgba(0,0,0,0.05);
  transition: transform 0.3s;
  text-decoration: none;
  color: inherit;
}

.feature-card:hover {
    transform: translateY(-0.3rem);
    border: 2px solid var(--primary-color);
}

.feature-card i {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.tool-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40vw;;
    margin: 0 auto;
    background: var(--card-bg);
    padding: 2.5rem;
    border-radius: 1.25rem;
    box-shadow: 0 15px 15px rgba(0,0,0,0.1);
}

.tool-container header {
  text-align: center;
}

.tool-container header h2 {
  color: var(--secondary-color);
  font-size: 1.8rem;
}

.tool-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group label {
  font-weight: 600;
  color: var(--secondary-color);
}

.form-group input, .form-group select {
  padding: 0.8rem;
  border: 2px solid #e0e0e0;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: 0.3s;
}

.form-group input:focus, .form-group select:focus {
  outline: none;
  border-color: var(--primary-color);
}

.action-btn {
  padding: 0.8rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.action-btn:hover {
  background-color: var(--primary-dark);
}

.btn-back {
  background-color: #b2bec3;
  text-decoration: none;
  color: white;
  text-align: center;
}

.result-box {
  margin-top: 1.8rem;
  padding: 1.25rem;
  background-color: #e8f8f5;
  border-radius: 0.6rem;
  text-align: center;
  display: none;
}

.result-box.show { display: block; }
